In [2]:
import pandas as pd

# Create your DataFrames (replace these with your actual DataFrames)
date_id = ["2307", "2306", "2305", "2304", "2303", "2302", "2301", "2212", "2211", "2210", "2209", "2208"]

for date in date_id:
    df = pd.read_excel(f'Data_GamesCompanies/Data_{date}.xlsx')
    print(df.shape)

(100, 27)
(100, 27)
(100, 27)
(100, 27)
(100, 27)
(100, 27)
(100, 27)
(100, 27)
(100, 27)
(100, 27)
(100, 27)
(100, 27)

In [3]:
import pandas as pd

# Create your DataFrames (replace these with your actual DataFrames)
date_id = ["2307", "2306", "2305", "2304", "2303", "2302", "2301", "2212", "2211", "2210", "2209", "2208"]

# Defining Exact Names for each columns
columns_names = [
    '#', 'Unified App', 'Classification', 'Downloads', 
    'Cumulative Downloads', 'Revenue', 'Cumulative Revenue', 
    'Revenue/Downloads', 'Paid Downloads', 'Organic Downloads', 
    '% Paid Downloads', '% Organic Downloads', 'Usage Penetration', 
    'Active Users', 'Install Penetration', 'Install Base', 
    'Open Rate', 'Avg Sessions / User', 'Avg Session Duration', 'Avg Time / User', 'Total Time', 
    'Avg Active Days', '% Active Days', 'Genre', 
    'Company', 'Year', 'Month'
]

# Initialize an empty DataFrame to store the combined data
combined_df = pd.DataFrame()

# Loop through the list of DataFrames and concatenate them
for date in date_id:
    # Importing all Cleaned Data from excel sheets
    df = pd.read_excel(f'Data_GamesCompanies/Data_{date}.xlsx')
    df.columns = columns_names
    combined_df = pd.concat([combined_df, df], ignore_index=True)

# # Save the DataFrame
# combined_df.to_excel(f'Data_GamesCompanies/Data_ALL.xlsx', index=False)
# combined_df

In [ ]:
# try:
#     nulls_columns = combined_df.columns[combined_df.isnull().all()]
#     df_cleaned = combined_df.drop(columns = nulls_columns)
# except:
#     pass

In [4]:
# Save the DataFrame
combined_df.to_excel(f'Data_GamesCompanies/Data_ALL.xlsx', index=False)
combined_df

,#,Unified App,Classification,Downloads,Cumulative Downloads,Revenue,Cumulative Revenue,Revenue/Downloads,Paid Downloads,Organic Downloads,...,Avg Sessions / User,Avg Session Duration,Avg Time / User,Total Time,Avg Active Days,% Active Days,Genre,Company,Year,Month
0,1,Coin Master,Luck Batle,44000.0,6240000,2650000,86300000,13.83,24900.0,19100.0,...,81.57,1900-01-02 00:04:10.992000,1900-01-02 05:40:39.994000,5.440000e+08,12.23,0.3946,Party,Moon Active,2023,7
1,2,Candy Crush Saga,M3,66700.0,29700000,1180000,80700000,2.72,25600.0,41100.0,...,58.39,1900-01-02 00:08:28.032000,1900-01-02 08:14:44.016000,1.260000e+09,9.00,0.2903,Match,King,2023,7
2,3,ROBLOX,Creative Sandbox,242000.0,11100000,718000,29100000,2.63,30800.0,212000.0,...,81.4,1900-01-02 00:09:57.974000,1900-01-02 13:31:53.962000,2.660000e+09,9.56,0.3085,Simulation,Roblox,2023,7
3,4,Gardenscapes - New,M3-Meta,57200.0,8670000,633000,34500000,3.98,34600.0,22600.0,...,76.89,1900-01-02 00:05:18.989000,1900-01-02 06:48:25.027000,3.030000e+08,10.37,0.3346,Match,Acres Playrix,2023,7
4,5,Monopoly GO: Family Board Game,Luck Batle,207000.0,1190000,495000,1490000,1.25,120000.0,87000.0,...,46.09,1900-01-02 00:07:24.010000,1900-01-02 05:40:53.990000,3.430000e+08,9.39,0.3030,Party,Scopely,2023,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,96,Billionaire Casino,Slots,3300.0,504000,44900,2420000,4.79,1400.0,1900.0,...,10.89,1900-01-01 00:11:29.040000,1900-01-01 02:05:02.976000,1.240000e+06,3.45,0.1113,Casino,Huuuge Games,2022,8
1196,97,Rush Royale,Tower Defense Strategy,30400.0,789000,43800,793000,1.0,18100.0,12300.0,...,17.15,1900-01-01 00:07:13.037000,1900-01-01 02:03:51.005000,1.190000e+07,3.28,0.1056,Strategy,UPWAKE.ME,2022,8
1197,98,Last Fortress: Underground,4X March-Batle,24800.0,209000,43200,364000,1.74,8200.0,16600.0,...,9.57,1900-01-01 00:38:28.003000,1900-01-01 06:08:12.998000,2.830000e+07,3.94,0.1271,Strategy,Long Tech Network,2022,8
1198,99,Matchington Mansion,M3-Meta,10400.0,2670000,42100,5210000,1.95,5800.0,4600.0,...,60.49,1900-01-01 00:09:52.013000,1900-01-01 09:56:57.034000,9.760000e+07,7.22,0.2329,Match,Magic Tavern,2022,8
1199,100,World Series of Poker,Poker,4700.0,1540000,41100,2750000,1.79,1400.0,3300.0,...,100.48,1900-01-01 00:03:46.022000,1900-01-01 06:19:02.986000,1.250000e+07,5.17,0.1669,Casino,Playtika,2022,8